<h2>Por región</h2>
<hr>
<div class="row">
    <div class="col text-center">
        <!-- Search box -->
        <!-- <shared-search-box placeholder="Buscar por región" (onDebounce)="searchByRegion($event)" (onValue)="searchByRegion($event)"></shared-search-box> -->
        <button *ngFor="let region of regions" class="btn mx-2" (click)="searchByRegion(region)" [ngClass]="{'btn-outline-primary': this.selectedRegion === region}">
            {{region}}
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>
