<h2>Por pais</h2>
<hr>
<div class="row">
    <div class="col">
        <!-- Search box -->
        <shared-search-box [initialValue]="initialValue" placeholder="Buscar por país" (onDebounce)="searchByCountry($event)" (onValue)="searchByCountry($event)"></shared-search-box>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>
